:root {
  /* colors */
  --clr-border: #ccc;
  --clr-light-gray: 0 11.6% 91.6%;
  --clr-blue: rgb(43, 135, 255);
  --clr-green: rgb(2, 175, 39);
}

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utitlity classes */
.text-green {
  color: var(--clr-green);
}

.text-blue {
  color: var(--clr-blue);
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-size: 1.6rem;
}

.blog-container {
  width: 80%;

  margin: 0 auto;

  margin-top: 2em;
}

.blog-container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-container__body {
  margin-top: 2em;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 2em 1em;
}

.post {
  border: 1px solid green;
  min-height: 200px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  border: 5px solid var(--clr-border);
}

.post-header__type {
  display: inline-block;
  margin-bottom: 0.7em;
}

.post-header__title {
  margin-bottom: 0.5em;
}

a:last-child {
  margin-top: auto;
}

.post:last-child {
  margin-bottom: 1em;
}

footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  height: 120px;
  justify-content: center;
  background-color: hsl(var(--clr-light-gray) / 0.3);
  border-top: 2px solid var(--clr-border);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}
